

.fade-enter {
  opacity: 0.01;
  position: absolute;
  left: 0;
  right: 0;
  top:44px;
  bottom: 0
  /* transform: scale(1.1); */
}

.fade-enter-active {
  opacity: 1;
  /* transform: scale(1); */
  transition: all 600ms;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0
  /* transform: scale(1); */
}

.fade-exit-active {
  opacity: 0.01;
  /* transform: scale(1.1); */
  transition: all 300ms;
}

.page {
  min-height: 100vh;
}

.homepage__title {
  font-size: 90px;
  width: 100%;
  background-image: url('/homepage-background.jpg');
  background-size: cover;
}

.homepage__title-container {
  background: rgba(0, 0, 0, 0.5);
}

.homepage__dates {
  font-size: 20px;
  text-align: center;
  padding: 12px 0;
  background-color: crimson;
  color: white;
  font-weight: bold;
}

.homepage__instructions {
  margin-top: 0;
}

.homepage__desc {
  margin: 8px;
  line-height: 18px;
}

.homepage__title-item {
  font-family: fantasy;
  padding: 12px 0 0 8px;
  color: white;
}

.beerlist__desc,
.ciderlist__desc {
  margin: 8px;
  text-align: center;
}

.beer-hero {
  width: calc(100% - 16px);
  height: 200px;
  margin: 12px 8px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.beer-hero-text {
  width: 100%;
  font-size: 34px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  height: 100%;
  background: rgb(0,0,0, 0.6);
  background: rgba(0,0,0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace; 
}

.brewery__title {
  font-size: 24px;
  text-align: center;
  line-height: 48px;
}

.brewery__desc {
  margin: 0 8px;
  font-size: 12px;
  line-height: 18px;
}


.product {
  background-color: white;
  margin: 12px 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px lightgrey;
}

.product__extra {
  font-size: 12px;
  line-height: 20px;
}

.product__header {
  display: flex;
  justify-content: space-between;
  height: 44px;
  line-height: 44px;
}
.product__header-title {
  width: 60%;
}
.product__rating {
  line-height: 55px;
}
.product__rating-icon {
  width: 22px;
  height: 22px;
}
.product__rating-icon--empty {
  opacity: 0.6;
}

.product--gin {
  display: flex;
}

.product--gin .product__header {
  height: auto;
}
.product--gin .product__header img {
  height: 157px;
  width: 128.5px;
}

.product__notes {
  border: solid 1px lightgrey;
  width: calc(100% - 8px);
  padding: 8px;
  box-sizing: border-box;
  margin-top: 12px;
}
.article__title {
  font-size: 28px;
  margin: 8px;
  font-weight: bold;
  text-align: center;
}

.article__list li {
  margin: 8px 0;
}

.article__list b {
  font-weight: bold;
}

.article__content {
  margin: 0 8px;
  font-size: 14px;
  line-height: 18px; 
}
.article p {
  margin: 6px 0;
}

.article__signature {
  font-family: cursive;
  margin: 12px 8px;
  font-size: 30px;
}
.app--production .homepage__title {
  background-image: url('/leaflet/homepage-background.jpg');
}

.contents {
  margin: 8px;
}

.contents__item {
  height: 44px;
  line-height: 44px;
}
.contents__item a {
  display: block;
  height: 100%;
  width: 100%;
  color: #1c60c7;
  text-decoration: underline;
}

.picker__answer {
  background-color: #1c60c7; 
  width: 320px;
  height: 64px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  color: white;
}

.picker__description {
  margin: 12px;
  line-height: 24px;
  font-size: 18px;
}
