
.image--full {
  width: 100%;
  height: auto;
}

.back__button {
  width: 200px;
  margin: 0 auto;
  background-color: lightblue;
  font-family: monospace;
  padding: 12px;
  text-align: center;
}

.instructions {
  background-color: lightblue;
  padding: 12px;
  text-align: center;
  margin: 12px 0;
  font-family: monospace;
}

.fade-enter {
  opacity: 0.01;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
  /* transform: scale(1.1); */
}

.fade-enter-active {
  opacity: 1;
  /* transform: scale(1); */
  transition: all 600ms;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
  /* transform: scale(1); */
}

.fade-exit-active {
  opacity: 0.01;
  /* transform: scale(1.1); */
  transition: all 300ms;
}

.homepage__title {
  font-size: 90px;
  width: 100%;
  background-image: url('/homepage-background.jpg');
  background-size: cover;
}

.homepage__title-container {
  background: rgba(0, 0, 0, 0.5);
}

.homepage__dates {
  font-size: 20px;
  text-align: center;
  padding: 12px 0;
  background: #040d77;
  color: white;
  font-weight: bold;
}

.homepage__instructions {
  margin-top: 0;
}

.homepage__desc {
  margin: 8px;
  line-height: 18px;
}

.homepage__title-item {
  font-family: fantasy;
  padding: 12px 0 0 8px;
  color: white;
}

.beer-hero {
  width: calc(100% - 24px);
  height: 200px;
  margin: 12px;
  box-sizing: border-box;
  background-image: url('/homepage.jpeg');
  background-clip: border-box;
}

.beer-hero-text {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  height: 100%;
  background: rgb(0,0,0, 0.7);
  background: rgba(0,0,0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace; 
}

.brewery__title {
  font-size: 24px;
  text-align: center;
  line-height: 48px;
}

.brewery__desc {
  margin: 0 8px;
  font-size: 12px;
  line-height: 18px;
}



.brewer__items {

}



.product {
  background-color: white;
  margin: 12px 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px lightgrey;
}

.product__extra {
  font-size: 12px;
  line-height: 20px;
}

.product__header {
  display: flex;
  justify-content: space-between;
  height: 44px;
  line-height: 44px;
}
.product__header-title {
  width: 60%;
}
.product__rating {
  line-height: 55px;
}
.product__rating-icon {
  width: 22px;
  height: 22px;
}
.product__rating-icon--empty {
  opacity: 0.6;
}
