
.image--full {
  width: 100%;
  height: auto;
}

.back__button {
  width: 200px;
  margin: 12px auto;
  background-color: lightblue;
  font-family: monospace;
  padding: 12px;
  text-align: center;
}

.back__button--link {
  background-color: #1c60c7;;
}

.next__button {
  width: 200px;
  background-color: lightblue;
  font-family: monospace;
  text-align: center;
  border: none;
}

.next__button--link {
  background-color: #1c60c7;;
  color: white;
}

.clear__button {
  width: 200px;
  margin: 12px auto;
  font-family: monospace;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: crimson;
}
.clear__toggle {
  text-align: center;
}

.paragraph {
  font-size: 14px;
  line-height: 18px; 
}
.paragraph--margin {
  margin: 8px;
}
.paragraph--margin-24 {
  margin-top: 24px;
}

.instructions {
  background-color: lightblue;
  padding: 12px;
  text-align: center;
  margin: 12px 0;
  font-family: monospace;
}

.title {
  font-size: 28px;
  margin: 8px;
  font-weight: bold;
  text-align: center;
}

.title--border {
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
  margin-bottom: 24px;
}

.bold {
  font-weight: bold;
}

.subheading {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.bottom-border {
  padding-top: 8px;
  padding-bottom: 14px;
}
