
.image--full {
  width: 100%;
  height: auto;
}

.back__button {
  width: 200px;
  margin: 0 auto;
  background-color: lightblue;
  font-family: monospace;
  padding: 12px;
  text-align: center;
}

.paragraph {
  font-size: 14px;
  line-height: 18px; 
}

.instructions {
  background-color: lightblue;
  padding: 12px;
  text-align: center;
  margin: 12px 0;
  font-family: monospace;
}

.title {
  font-size: 28px;
  margin: 8px;
  font-weight: bold;
  text-align: center;
}