
.image--full {
  width: 100%;
  height: auto;
}

.back__button {
  width: 200px;
  margin: 12px auto;
  background-color: lightblue;
  font-family: monospace;
  padding: 12px;
  text-align: center;
}

.clear__button {
  width: 200px;
  margin: 12px auto;
  font-family: monospace;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: crimson;
}

.paragraph {
  font-size: 14px;
  line-height: 18px; 
}
.paragraph--margin {
  margin: 8px;
}

.instructions {
  background-color: lightblue;
  padding: 12px;
  text-align: center;
  margin: 12px 0;
  font-family: monospace;
}

.title {
  font-size: 28px;
  margin: 8px;
  font-weight: bold;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.subheading {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}