.social-media {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}
.social-media__title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.social-media__icons {
  display: flex;
  margin-top: 12px;
  justify-content: space-around;
}
.social-media a {
  height: 44px;
  display: block;
}
.social-media img {
  height: 22px;
}

.social-media__hashtag {
  margin: 6px 0px;
  text-align: center;
}

.social-media__button {
  background-color: #1c60c7;
  border-radius: 5px;
  color: black;
  width: 350px;
  border-color: #1c60c7;
}

.social-media__button a {
  line-height: 45px;
  font-size: 26px;
  font-weight: bold;
  color: white
}